*{
    font-family: 
    Verdana, 
    Geneva, 
    Tahoma, 
    sans-serif;
    box-sizing:
    border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px
    solid black;
    margin: 10px;
    padding: 10px;
}

.flex-container{
    display: flex;
}

.nav-bar{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;

    justify-content: space-evenly;
}

.nav-bar img{
    flex-basis: 100px;
}

.nav-bar #menu{
    flex-grow: 1;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}