*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "double double double1 double1"
    "double double double1 double1"
    "single triple triple triple"
    "single triple triple triple"
    "footer footer footer footer";
    gap: 10px;
    padding: 10px;
    
  }
  
  .grid-item {
    padding: 10px;
  }
  
  #grid-double {
    grid-area: double;
    background-color: #FD825C;
  }
  
  #grid-double1 {
    grid-area: double1;
    background-color: #FC6057;
  }
  
  #grid-single {
    grid-area: single;
    background-color: #07A588;
  }

  #grid-triple {
    grid-area: triple;
    background-color: #1DC1A1;
  }

  #grid-footer {
    grid-area: footer;
    background-color: #FDA061;
  }
  
  